MENU_1 MENU 
BEGIN
	POPUP "Titel&1"
	BEGIN
		MENUITEM "Punkt&1\tF1", 101
		MENUITEM "Punkt&2\tF2", 102
		MENUITEM "Punkt&3\tF3", 103
	END

	POPUP "Titel&2"
	BEGIN
		MENUITEM "Punkt&4\tF4", 101
		MENUITEM "Punkt&5\tF5", 104
	END

END

ACCELERATORS_1 ACCELERATORS 
BEGIN
	VK_F1, 101, VIRTKEY
	VK_F2, 102, VIRTKEY
	VK_F3, 103, VIRTKEY
	VK_F4, 104, VIRTKEY
	VK_F5, 105, VIRTKEY
END

